body {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  background: #f5f5f5;
}

.game {
  width: 600px;
  height: 200px;
  border: 2px solid #000;
  position: relative;
  background: yellow;
  overflow: hidden;
}

#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: #555;
}

#dino {
  width: 44px;
  height: 47px;
  background-image: url("images/dino.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  left: 50px;
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    bottom: 20px;
  }
  50% {
    bottom: 120px;
  }
  100% {
    bottom: 20px;
  }
}

.cactus {
  width: 25px;
  height: 50px;
  background-image: url("images/cactus.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 5px;
  right: -25px;
}

@keyframes cactusMove {
  0% {
    right: -20px;
  }
  100% {
    right: 600px;
  }
}

#score {
  position: absolute;
  top: 10px;
  right: 15px;
  font-family: monospace;
  font-size: 18px;
}
